#
# To disable this in .travis.yml, comment out the PHPSTAN_TEST flag
#
parameters:
    earlyTerminatingMethodCalls:
        Controller:
            - redirect
    excludes_analyse:
        - silverstripe-cache
    exclude_files:
        - tests/bootstrap-phpstan.php
    ignoreErrors:
        # No SilverStripe 4 support yet
        - '%undefined property SilverStripe\\Security\\Member::%'
        - '%undefined property SilverStripe\\ORM\\DataObject::%'
        - '%undefined property SilverStripe\\SiteConfig\\SiteConfig::%'
        # Ignore because added by MemberProfileExtension
        - '%undefined method SilverStripe\\Security\\Member::getPublicFields()%'
        - '%undefined method SilverStripe\\Security\\Member::setPublicFields()%'
        # Ignore as 'MemberProfileExtension' have no context with $this->owner.
        - '%undefined method SilverStripe\\ORM\\DataObject::ProfilePage()%'
        - '%undefined method SilverStripe\\ORM\\DataObject::Groups()%'
        # Unsupported introspection level
        - '%Call to an undefined method SilverStripe\\Forms\\FormField::setCanBeEmpty()%'
        - '%Call to an undefined method SilverStripe\\Forms\\Form::enableSpamProtection()%'
        # Ignore modules / classes that may or may not be installed
        - '%UndefinedOffset\\SortableGridField\\Forms\\GridFieldSortableRows not found%'

